*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vscode
/.idea/
.idea/
*.jks
*.keystore
keystore.properties
secrets.properties
*.apk
*.aab
app/release/
app/debug/
OriginScripts/
/OriginScripts/
/CopilotDocs/
